#sidebar
  .sidebar-block
    #group-pages
      %h3= t :pages
      #pages-list
        = render :partial => 'groups/page_list', :locals => {:group => group }
  = render :partial => 'groups/members', :locals => {:group => group }
.clearfix

