#user-info
  #user-display= image_tag current_user.image_url(:small).to_s, :width => 32, :height => 32, :class => "profile-picture-small"
  #user-name
    = current_user.display_name
    = image_tag "down-arrow.png", :id => "user-arrow"
#user-nav
  %ul.user-menu
    %li= link_to (t :logout), "/logout"

