- @page_title = 'Home'

#left-sidebar
  #left-sidebar-inner

#main
  #main-inner
    #share-area 
      = render :partial => 'share_form', :locals => {}
      .clearfix
    #posts-area
#right-sidebar
  #right-sidebar-inner
