- @page_title = 'Home'

#left-sidebar
  #left-sidebar-inner
    This is a sidebar

#main
  #main-inner
    #share-area 
      #share-message ¿Deseas compartir algo?

#right-sidebar
  #right-sidebar-inner
    This is the right sidebar
