- @page_title = 'Home'

#left-sidebar
  #left-sidebar-inner

#main
  #main-inner
    #share-area 
      .clearfix
    #new-posts-message
    #posts-area
#right-sidebar
  #right-sidebar-inner
    #birthday-area
    #upcoming-area

:javascript
  function foo() {
    alert('Soy tu padre!');
  }
