- @page_title = 'Home'

#left-sidebar
  #left-sidebar-inner

#main
  #main-inner
    #share-area 
      %form
        #share-message= t :share_to_the_community
        #share-active
          #share-button
            = submit_tag (t :share), :disabled => true, :disable_with => (t :share_wait)
      .clearfix

#right-sidebar
  #right-sidebar-inner
