- @page_title = t :home_link
#posts-area
#sidebar

- SidebarItem.order(:position).each do |item|
  :javascript
    url = "#{item.url}";
    $.get(url, {}, function (html) {
      $('#sidebar').append(html);
    })
