// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-table {
  tr.Inactivo {
    color: #999;
  }
  tr {
    td {
      cursor: pointer;
    }
    
    &.Eliminado {
      color: #b00;
    }
  }
}

#aplicaciones .apps {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
