#login-area.card
  %img#cimav-logo{:src => '/media/landing/cimav-logo.png'}
  #logo-area
    %img#somos-logo{:src => '/media/landing/somos-logo.png'}
    %h5= "SOMOS"
    %a.red.lighten-1.waves-effect.waves-light.btn{:href => "/auth/google_oauth2"}= "Ingresar"
