.post-birthday
  .birthday_display= image_tag user_image(post.user.id, :profile).to_s, :width => 128, :height => 128, :class => "profile-picture-small"
  .birthday-message= post.content
  .clearfix
.clearfix
