- latest = 0
#posts
  - @posts.each do |post|
    = render :partial => 'post', :locals => {:post => post }
    - latest = post.id if latest < post.id
- if latest > 0
  :javascript
    latestPostId = #{latest};
- if !params[:id].blank?
  :javascript
    previousLatestPostId = #{params[:id]};
