- latest = 0
- no_show = !params[:id].blank?
.posts
  - @posts.each do |post|
    = render :partial => 'post', :locals => {:post => post, :no_show => no_show }
    - latest = post.id if latest < post.id
- if latest > 0
  :javascript
    latestPostId = #{latest};
- if !params[:id].blank?
  :javascript
    previousLatestPostId = #{params[:id]};
