- latest = 0
#posts
  - if @posts.count > 0  
    - @posts.each do |post|
      = render :partial => 'post', :locals => {:post => post }
      - latest = post.id if latest < post.id
  - else
    #no-user-posts
      = t :no_posts_yet
- if latest > 0
  :javascript
    latestPostId = #{latest};
- if !params[:id].blank?
  :javascript
    previousLatestPostId = #{params[:id]};
