= fields_for @post do |f|
  = f.fields_for :post_file do |file_fields|
    = file_fields.file_field :file
%iframe#post-iframe{:width => 0, :height => 0, :scrolling => "no", :frameborder => "0", :name => "post-iframe"}
:javascript
  $("#new_post").attr("target", "post-iframe");

