$white: #fff;
$black: #000;
$grey: #777;
$strong-color: #333;

//$top-gradient-from: #09c;
//$top-gradient-to: #06c;
$top-gradient-from: #444;
$top-gradient-to: #111;
$top-color: #dadada;

$container-width: 1000px;
$left-sidebar-width: 180px;
$right-sidebar-width: 250px;
$main-width: $container-width - $left-sidebar-width - $right-sidebar-width;

$line-color: #ddd;
$link-color: #06c;
$nav-hover-color: #f0f0f0;

$group-type-color: #06c;
$group-bg-color: $group-type-color;
$group-color: #fff;

$share-button-gradient-from: #62c462;
$share-button-gradient-to: #57a957;

$comment-button-gradient-from: #62c462;
$comment-button-gradient-to: #57a957;
