$white: #fff;
$black: #000;
$grey: #777;
$strong-color: #333;

$top-gradient-from: #09c;
$top-gradient-to: #06c;

$container-width: 1000px;
$left-sidebar-width: 180px;
$right-sidebar-width: 250px;

$line-color: #ddd;

$group-type-color: #06c;
$groups-nav-hover-color: #f0f0f0;
