.ui-dialog { 
  position: absolute; 
  padding: .2em; 
  width: 300px; 
  overflow: hidden; 
  background-color: $white;
  .ui-dialog-titlebar { 
    padding: .4em 1em; 
    position: relative;  
  }
  .ui-dialog-title { 
    float: left; 
    font-size: 18px;
    color: $grey;
    font-weight: bold;
    margin: 8px 16px 0 0;
  }
  .ui-dialog-titlebar-close { 
    position: absolute; 
    right: 14px; 
    top: 14px; 
    width: 9px; 
    height: 9px; 
    background: transparent url(/assets/close.png) no-repeat;
  }
  .ui-dialog-titlebar-close span { 
    display: block; 
    margin: 1px; 
  }
  .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
  .ui-dialog-content { 
    position: relative; 
    border: 0; 
    padding: .5em 1em; 
    background: none; 
    overflow: auto; 
    zoom: 1; 
  }
  .ui-dialog-buttonpane { 
    text-align: left; 
    border-width: 1px 0 0 0; 
    background-image: none; 
    margin: .5em 0 0 0; 
    padding: .3em 1em .5em .4em; 
  }
  .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: right; 
  }
  .ui-dialog-buttonpane button { 
    margin: .5em .4em .5em 0; 
    cursor: pointer; 
  }
  .ui-resizable-se { 
    width: 14px; 
    height: 14px; 
    right: 3px; 
    bottom: 3px; 
  }
  &.ui-corner-all { 
    @include rounded(8px);
  }
}

.ui-draggable .ui-dialog-titlebar { cursor: move; }

