// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#groups-area {
  ul.group-types {
    font-size: 12px;
    li {
       font-weight: bold;
       color: $group-type-color;
       .home-link a {
         font-weight: bold;
         color: $group-type-color;
         padding: 5px;
         text-transform: uppercase;
       }
       .group-type-title {
         margin-top: 5px;
         padding: 5px;
         text-transform: uppercase;
       }
       ul.groups {
         li {
           color: $black;
           font-weight: normal;
           padding: 5px;
           cursor: pointer;
           &:hover {
             background-color: $nav-hover-color;
           }
           &.selected {
             a {
               font-weight: bold;
               color: $red;
             }
           }
           a {
             line-height: 1.4em;
             color: $black;
             text-decoration: none;
             display: block;
           }
         }
       }
    }
  }
}

ul.page-list {
  li {
    color: $black;
    font-weight: normal;
    padding: 4px 4px;
    cursor: pointer;
    &:hover {
      background-color: $nav-hover-color;
    }
    &.selected {
      a {
        font-weight: bold;
        color: $red;
      }
    }
    a {
      color: $black;
      text-decoration: none;
      display: block;
    }
    &#li_add_page {
      border-top: 1px dashed $line-color;
      margin-top: 5px;
      a {
        padding-top: 5px;
        color: $grey;
      }
      .share-plus {
        color: $plus-color;
        font-weight: bold;
      }
      &:hover {
        color: $black;
        background-color: $white;
        a  {
          color: $black;
        }
      }
    }
  }
}



#group-members {
  margin: 10px 10px 20px 10px;
}

.member {
  float: left;
  margin: 2px;
}

#group-pages {
  margin: 10px 10px 20px 10px;
}

#group-page {
  width: $post-width;
  margin: 10px 10px 25px 10px;
  background: #fff;
  float: left;
  min-height: 48px;
  h2 {
    margin-bottom: 20px;
  }
}

#group-page-inner {
  margin: 0 0 40px 0;
}

#group-page-contents {
  margin-bottom: 10px;
}


.group-page-section {
  margin: 20px 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $line-color;
  a {
    cursor: pointer;
  }

  h3 {
    font-size: 14px;
    border-bottom: none;
  }

  .fs-data {
    float: left;
  }

  .fs-description {
    clear: both;
    margin-bottom: 20px;
  }

  .file-section-actions {
    font-size: 11px;
    display: inline;
    margin-left: 10px;
  }

  ul.file-list {
    li {
      margin-bottom: 20px;
      img {
        float: left;
        margin-right: 5px;
        &.can-move {
          cursor: move;
        }
      }
      .file-title {
        font-weight: bold;
      }
      .file-description {
        margin-left: 36px;
        font-size: 90%;
      }
      .file-extra {
        color: $grey;
        font-size: 11px;
        margin-top: 4px;
        margin-left: 36px;
        .delete-file, .edit-file-description {
          border-left: 1px solid $line-color;
          margin-left: 5px;
          padding-left: 5px;
        }
      }
    }
  }
}

.add-files-form {
  position: relative;
  clear: both;
  height: 24px;
  &:hover {
    .add-files-link {
      text-decoration: underline;
    }
  }
  input[type="file"].pfs-file-input {
    cursor: pointer;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    @include opacity(0);
    border: 1px solid #0b0;
    z-index: 999;
    cursor: pointer;
  }

  .add-files-link {
    cursor: pointer;
    z-index: 10;
    height: 20px;
    padding-top: 5px;
    position: absolute;
    color: $link-color;
    left: 0;
    top: 0;
  }
}

.files-table {
  td {
    &:hover .file-actions {
      display: block;
    }
  }
}


.edit-pfs-title {
  display: block;
  font-size: 16px;
  color: $strong-color2;
  font-weight: bold;
  margin-bottom: 10px;
  input {
    margin: 0;
    padding: 4px;
    border: 1px solid $line-color;
    outline: none;
    font-size: 16px;
    color: $black;
    font-weight: bold;
    width: ($post-width * 2) - 30;
  }
}

#pfs-editor {
  height: 200px;
  width: $post-width - 30;
  padding: 10px;
}

#pfs-editor_tbl {
  width: $post-width - 30;
}

#save-pfs-button {
  float: right;
  margin: 10px 0 40px 0;
  clear: both;
}

