// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#groups-area {
  display: none;
  background-color: $bg-color;
  border: 1px solid $line-color;
  position: absolute;
  top: 46px;
  padding: 10px;
  ul.group-types {
    li {
       font-weight: bold;
       color: $group-type-color;
       .home-link a {
         font-weight: bold;
         color: $group-type-color
       }
       .group-type-title {
         padding: 8px 0;
       }
       ul.groups {
         li {
           color: $black;
           font-weight: normal;
           padding: 8px 10px;
           cursor: pointer;
           &:hover {
             background-color: $nav-hover-color;
           }
           &.selected {
             a {
               font-weight: bold;
               color: $red;
             }
           }
           a {
             color: $black;
             text-decoration: none;
             display: block;
           }
         }
       }
    }
  }
}

ul.page-list {
  li {
    color: $black;
    font-weight: normal;
    padding: 4px 4px;
    cursor: pointer;
    &:hover {
      background-color: $nav-hover-color;
    }
    &.selected {
      a {
        font-weight: bold;
        color: $red;
      }
    }
    a {
      color: $black;
      text-decoration: none;
      display: block;
    }
    &#li_add_page {
      border-top: 1px dashed $line-color;
      margin-top: 5px;
      a {
        padding-top: 5px;
        color: $grey;
      }
      .share-plus {
        color: $plus-color;
        font-weight: bold;
      }
      &:hover {
        color: $black;
        background-color: $white;
        a  {
          color: $black;
        }
      }
    }
  }
}



#group-members {
  margin: 10px 10px 20px 10px;
}

.member {
  float: left;
  margin-right: 5px;
}

#group-pages {
  margin: 10px 10px 20px 10px;
}

#group-page {
  @include shadow(4px,1px,1px,#333);
  width: ($post-width * 2) + 20;
  margin: 10px;
  background: #fff;
  float: left;
  min-height: 48px;
}

#group-page-inner {
  margin: 20px 20px 40px 20px;
}
