#topbar {
  height: 34px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  background-color: $top-gradient-from;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  @include gradient($top-gradient-from, $top-gradient-to);
  @include shadow(4px,0px,0px,#999);

  #topbar-content {
    width: $container-width;
    margin: 0 auto;
    a {
      color: $top-color;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    #brand {
      float: left;
      font-size: 20px;
      color: $top-color;
      margin-top: 6px;
      margin-left: 10px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
 
    #user-area {
      float: right;
      color: $top-color;
      #account {
        margin-top: 8px;
      }
    }
  }
}

#container {
  width: $container-width;
  margin: 0 auto;
  margin-top: 40px;
  #left-sidebar {
   margin-top: 10px;
   width: $left-sidebar-width;
   position: relative;
   float: left;
   overflow: hidden;
   #left-sidebar-content {
     overflow: hidden;
     width: $left-sidebar-width * 2;
     position: absolute;
     left: 0px;
     #ls-left {
       width: $left-sidebar-width;
       float: left;
     } 
     #ls-right {
       float: right;
       width: $left-sidebar-width;
     }
   }
  }
  #main {
   width: $main-width;
   //min-width: $main-width;
   //max-width: $main-width;
   position: relative;
   left: $left-sidebar-width + 10;
   #main-content {
     position: absolute;
     width: $main-width;
     //min-width: $main-width;
     //max-width: $main-width;
     border-left: 1px solid $line-color;
     border-right: 1px solid $line-color;
     padding: 20px;
   }
  }
  #right-sidebar {
   position: relative;
   width: $right-sidebar-width;
   #right-sidebar-content {
     left: $left-sidebar-width + $main-width + 50;
     width: $right-sidebar-width;
     position: absolute;
     padding: 10px;
   }
  }
}

.superwide {
  width: ($main-width + $right-sidebar-width - 30) !important;
  padding-right: 30px;
}

