#topbar {
  height: 55px;
  position: fixed;
  border-top: 5px solid $red;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  background: transparent url('/assets/bg.png');
  border-bottom: 1px solid $light-grey;

  &.shadow {
    @include shadow(10px);
  }

  #top-bar-full {
    margin-top: 5px;
    height: 55px;
    #topbar-content {
      width: $wrapper-width;
      height: 45px;
      margin: 0 auto;

      #brand {
        float: left;
        font-size: 20px;
        margin-top: 2px;
        margin-left: 0px;
        cursor: pointer;
      }

      #search-box {
        width: $search-box-width;
        float: right;
        border-right: 1px solid $line-color;
        margin: 8px 10px;
        padding-right: 10px;
        input {
          background-color: rgba(255,255,255,0.5);
          border: 1px solid rgba(0, 0, 0, 0.25);
          height: 18px;
          width: $search-box-width - 10;
        }
      }
 
      #user-area {
        width: $user-area-width;
        margin-top: 4px;
        float: right;
        #user-info {
          cursor: pointer;
        }
        #user-display {
          float: left;
        }
        #user-name {
          float:left;
          margin: 8px 5px;
        }
        #user-arrow {
          margin-left: 5px;
          @include opacity(0.2);
        }
        #user-nav {
          display: none;
          background-color: $bg-color;
          border: 1px solid $line-color;
          position: absolute;
          width: $user-area-width;
          top: 46px;
          padding: 10px;
        }
      }
    }
  }
}

#wrapper {
  width: $wrapper-width;
  margin: 0 auto;
  min-height: 100%;
  background: transparent url(/assets/white.png);
  padding: 60px 10px;
}

#nav {
  float: left;
  margin-top: 20px;
  width: $nav-width;
  #nav-title { 
    color: $strong-color;
    font-weight: bold;
    font-size: 22px;
    img { 
      margin-bottom: 3px;
      @include opacity(0.5);
    }
    &:hover img {
      @include opacity(1);
    }
    #nav-title-span {
      white-space: nowrap;
      cursor: pointer;
    }
  }
} 


#container {
  float: right;
  width: $container-width;
}

.wide-block {
  margin: 10px;
  background: #fff;
  min-height: 48px;
  padding: 0;
}

