#topbar {
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  background-color: $bg-color;
  border-bottom: 1px solid $light-grey;
  @include shadow(8px,0px,0px,#333);

  #top-bar-full {
    height: 46px;
    #topbar-content {
      width: $container-width;
      margin: 0 auto;

      #brand {
        float: left;
        font-size: 20px;
        margin-top: 2px;
        margin-left: 0px;
        cursor: pointer;
      }

      #search-box {
        width: $search-box-width;
        float: right;
        border-right: 1px solid $line-color;
        margin: 8px 10px;
        padding-right: 10px;
        input {
          background-color: rgba(255,255,255,0.5);
          border: 1px solid rgba(0, 0, 0, 0.25);
          height: 18px;
          width: $search-box-width - 10;
        }
      }
 
      #user-area {
        margin-top: 4px;
        float: right;
        #user-display {
          float: left;
        }
        #user-name {
          float:left;
          margin: 8px 5px;
        }
        #user-arrow {
          margin-left: 5px;
          @include opacity(0.2);
        }
      }
    }
  }

  #nav {
    float: left;
    width: $container-width / 2;
    margin: 12px 10px 0px 10px;
    #nav-title { 
      color: $strong-color;
      font-weight: bold;
      font-size: 22px;
      img { 
        margin-bottom: 3px;
        @include opacity(0.5);
      }
      &:hover img {
        @include opacity(1);
      }
      #nav-title-span {
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
}

#container {
  width: $container-width;
  margin: 0 auto;
  min-height: 100%;
  background: transparent url(/assets/white.png);
  padding: 60px 10px;
}

.wide-block {
  @include shadow(4px,1px,1px,#333);
  margin: 10px;
  background: #fff;
  min-height: 48px;
  padding: 0;
  img {
    display: block;
  }
}

