// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-page {
  display: none;  
}

.edit-page-title {
  display: block;
  font-size: 18px;
  color: $strong-color2;
  font-weight: bold;
  margin-bottom: 10px;
  input {
    margin: 0;
    padding: 4px;
    border: 1px solid $line-color;
    outline: none;
    font-size: 18px;
    color: $black;
    font-weight: bold;
    width: 100%;
  }
}

.page {
  margin-top: 20px;
}

#page-editor {
  height: 480px;
  padding: 10px;
}

#page-toolbar {
  float: right;
  img {
    @include opacity(.5);
    &:hover {
      @include opacity(1);
    }
  }
}

#edit-page-button,
#delete-page-button {
  &:hover { 
    cursor: pointer;
  }
}

#save-page-button {
  float: right;
  margin-top: 10px;
}
