// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit-page {
  display: none;  
  width: ($post-width * 2) - 20;
}

.edit-page-title {
  display: block;
  font-size: 18px;
  color: $strong-color2;
  font-weight: bold;
  margin-bottom: 10px;
  input {
    margin: 0;
    padding: 4px;
    border: 1px solid $line-color;
    outline: none;
    font-size: 18px;
    color: $black;
    font-weight: bold;
    width: ($post-width * 2) - 30;
  }
}

.page {
  margin-top: 20px;
}

#page-editor {
  height: 500px;
  width: ($post-width * 2) - 30;
  padding: 10px;
}

#page-editor_tbl {
  width: ($post-width * 2) - 30;
}

#page-toolbar {
  float: right;
  img {
    @include opacity(.5);
    &:hover {
      @include opacity(1);
    }
  }
}

#edit-page-button,
#delete-page-button {
  &:hover { 
    cursor: pointer;
  }
}

#save-page-button {
  float: right;
  margin: 10px 0 40px 0;
}

#dialog-link-options {
  padding-top: 10px;
  background-color: $line-color;
  float: left;
  width: 180px;
  height: 300px;
  div {
    padding: 5px 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .link-option-selected {
    background-color: $white;
    font-weight: bold;
  }
}


#dialog-link-workarea {
  padding: 10px;
  float: left;
  width: 380px;

  #url {
    width: 370px;
  }
}

#dialog-buttons {
  float: right;
}
