// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts-area {
  margin-top: 20px;
  .post {
    padding: 10px;
    min-height: 48px;
    .post-display {
      float: left;
    }

    .post-user {
      margin-left: 60px;
      a {
        color: $black;
        text-decoration: none;
        font-weight: bold;
      }
    }
    .post-content {
      margin-left: 60px;
      white-space: pre;
    }
    .post-footer {
      margin-left: 60px;
    }
    &:hover {
      .post-user {
        a {
          color: $link-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
