// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts-area {
  margin-top: 20px;
  .post {
    font-size: 12px;
    padding: 10px;
    min-height: 48px;
    .post-display {
      float: left;
    }

    .post-user {
      margin-left: 58px;
      a {
        font-weight: bold;
      }
    }
    .post-content {
      margin-left: 58px;
      white-space: pre;
    }
    .post-footer {
      margin-left: 58px;
    }
  }
}
