// Place all the styles related to the PostFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-files {
   margin: 10px;
  .file-entry {
     height: 30px;
     padding-left: 35px;
     padding-top: 5px;
     background: transparent url(/assets/mime/unknown.png) no-repeat;
     white-space: pre;
     overflow: hidden;
     margin-right: 5px;
  }
}
