// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-data {
  margin-bottom: 10px;
}

#user-profile {
  width: $post-width;
  padding: 10px;
  min-height: 200px;
}

#profile-picture {
  margin-bottom: 20px;
  img {
    @include rounded(6px);
    width: $sidebar-block-width;
    height: $sidebar-block-width;
  }
}

#profile-data {
  font-size: 15px;
  margin-bottom: 20px;
  .user-display-name {
    padding-top: 10px;
  }
  .user-occupation {
    font-size: 18px;
    margin-bottom: 10px;
    color: $grey;
  }
  .user-bio {
    margin-bottom: 20px;
  }
}

#profile-badges {
  width: 200px;
  float: right;
  padding-left: 10px;
  h2 {
    margin-bottom: 10px;
  }
  .user-badge {
    float: left;
    width: 48px; 
    margin-right: 5px;
  }
}

#user-profile-data {
  .user-data {
    width: 100%;
    display: block;
    padding: 0;
    .user-data-label {
      font-weight: bold;
    }
    .user-data-content {
    }
  }
}

ul.user-menu {
  li {
    color: $black;
    display: block;
    cursor: pointer;
    padding: 5px;
    &:hover {
    }
    a {
      color: $black;  
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
