!!!
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    = image_tag attachments['card.png'].url, alt: 'Feliz cumpleaños', class: 'top-card', style: 'width: 100%;'
